.first-element {
	border-radius: 6px 6px 0 0 !important;
}
.last-element {
	border-radius: 0 0 6px 6px !important;
}

div.main {
	min-width: 300px;
}

div.main div.container {
	min-width: 300px;
}

/* BUTTON */
.btn,
.btn:hover,
.btn:active,
.btn:focus,
.btn:active:focus,
.btn:visited,
.btn:active {
	background-image: none;
    border: 0;
    border-radius: 0;
}

/* EDITABLES */
.inline-editable {
	display: inline-block;
	padding: 0 0.5em;
}
.inline-editable:hover {
	display: inline-block;
	position: relative;
	outline: 2px dashed #CCC;
	width: auto;
}
.exam-name-container {
	text-align: center;
}
.inline-editable-button {
	display: none !important;
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 2em;
	cursor: pointer;
}
.inline-editable-button * {
	width: 100%;
	height: 100%;
}
.inline-editable-button:hover {
	color: grey;
}
.inline-editable-text:hover + .inline-editable-button, .inline-editable-button:hover {
	display: block !important;
}

/* JUMBOTRON */
div.jumbotron {
	padding-top: 10px;
	padding-bottom: 10px;
}

div.jumbotron h2 {
	vertical-align: middle;
	text-align: center;
}

/* PANEL */
.panel {
	border-radius: 0;
}
.panel > .panel-heading {
	border-radius: 0;
	background-image: none;
}

/* JUMBOTRON */
.container .jumbotron {
	border-radius: 0;
}

/* WELL */
.well {
	border-radius: 0;
}

/* EDIT EXAM */
.show-managers {
	margin: 2rem 0 2rem 1rem;
}

#examAvailable {
	display:inline-block;
}

#examAvailableParent {
    text-align: center;
}